      <!-- Modal Direccion Servicios -->
                  <div>
                    <table class="table table-bordered">
                      <thead>
                        <th>
                          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Direccion
                        </th>
                        <th>
                          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Servicios
                        </th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <address>{{dirServCtrl.direccion}}</address></td>
                              <td>
                                <ul ng-repeat="n in dirServCtrl.servicios">
                                  <li>{{n.nombre}}</li>  
                                 
                                    <ul ng-repeat="m in n.horarios" ng-show="dirServCtrl.mostrarHorarios">
                                         <li>{{m.dia}}: {{m.horaInicio}} - {{m.horaFin}}</li> 
                                    </ul>
                                  
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                    
               