  <!-- Horarios CGP-->
  <div ng-controller="horariosCgpCtrl as horariosCgpCtrl">
  <ul ng-repeat="n in horariosCgpCtrl.horariosCgp.servicios">
                                  <li>{{n.nombre}}</li> 
                                  
                                      <ul ng-repeat="m in n.horarios">
                                      <li>{{m.dia}}: {{m.horaInicio}} - {{m.horaFin}}</li>  
                                      </ul> 
                                                         
                                </ul>
                                </div>